<table>
    <tr>
        <th>テキストボックス</th>
        <td>
            <input type="text" name="text" />
            <p class="tooltip">テキストボックスのツールチップ</p>
        </td>
    </tr>
    <tr>
        <th>チェックボックス</th>
        <td>
            <input id="c1" type="checkbox" name="check" />
            <label for="c1">選択肢1</label>
            <input id="c2" type="checkbox" name="check" />
            <label for="c2">選択肢2</label>
            <p class="tooltip">チェックボックスのツールチップ</p>
        </td>
    </tr>
    <tr>
        <th>ラジオボタン</th>
        <td>
            <input id="r1" type="radio" name="radio" />
            <label for="r1">選択肢1</label>
            <input id="r2" type="radio" name="radio" />
            <label for="r2">選択肢2</label>
            <p class="tooltip">ラジオボタンのツールチップ</p>
        </td>
    </tr>
    <tr>
        <th>セレクトボックス</th>
        <td>
            <select name="select">
                <option value="選択肢1">選択肢1</option>
                <option value="選択肢2">選択肢2</option>
                <option value="選択肢3">選択肢3</option>
            </select>
            <p class="tooltip">セレクトボックスのツールチップセレクトボックスのツールチップ</p>
        </td>
    </tr>
    <tr>
        <th>テキストエリア</th>
        <td>
            <textarea rows="7" cols="30"></textarea>
            <p class="tooltip">テキストエリアのツールチップテキストエリアのツールチップ</p>
        </td>
    </tr>
</table>